extends ../_default/base.pug

block metadata
  -var metaCanonical = `${BASE_URL}/contact`

block main
  .container
    h1.heading.heading-section.mt20.text-center Liên Hệ

    .card.mt20.text-center
      iframe.contact-form(
        src="###",
        frameborder="0",
        marginheight="0",
        marginwidth="0"
      ) Loading...
