-var recipeUrl = `${BASE_URL}/recipe/${recipe.slug}`

//- Ingredients
-var ingredientList = []
each ingredient in (recipe.ingredients || [])
  -var ingredientItem = '';
  -if (ingredient.quantity)
    -ingredientItem += ingredient.quantity + ' ';
  -if (ingredient.quantityExtra)
    -ingredientItem += ingredient.quantityExtra + ' ';
  -if (ingredient.unit)
    -ingredientItem += ingredient.unit + ' ';
  -if (ingredient.ingredient)
    -ingredientItem += ingredient.ingredient + ' ';
  -if (ingredient.note)
    -ingredientItem += ingredient.note + ' ';

  -ingredientList.push(`"${ingredientItem.trim()}"`)

//- Directions
-var directionList = []
each direction, idx in (recipe.directions || [])
  -directionList.push(JSON.stringify({ '@type': 'HowToStep', name: `Make ${recipe.name} Step ${idx+1}`, text: direction.desc, url: `${recipeUrl}#step${idx+1}`, image: direction.img }))

script(type="application/ld+json").
  {
    "@context": "https://schema.org/",
    "@type": "Recipe",
    "name": "#{recipe.name}",
    "recipeCuisine": "#{recipe.cuisine || 'Worldwide'}",
    "image": [
      "#{recipe.imgCover}"
    ],
    "author": {
      "@type": "Person",
      "name": "#{recipe.author || 'Jennifer Miller'}"
    },
    "datePublished": "#{recipe.created}",
    "description": "#{recipe.description}",
    "keywords": "#{recipe.keywords || recipe.slug}",
    "recipeCategory": "#{recipe.category || 'Main-course'}",
    "recipeYield": "#{recipe.serving || 1}",
    "prepTime": "#{recipe.timeSchema.prep}",
    "cookTime": "#{recipe.timeSchema.cook}",
    "totalTime": "#{recipe.timeSchema.total}",
    "nutrition": {
      "@type": "NutritionInformation",
      "calories": "#{recipe.calories || 10} calories"
    },
    "recipeIngredient": [
      !{ingredientList.join(',').split(',')}
    ],
    "recipeInstructions": [
      !{directionList.join(',')}
    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "#{recipe.ratings.avg || 4.5}",
      "ratingCount": "#{recipe.ratings.count || 1}"
    }
  }
//- video
