extends _default/base.pug

block metadata
  -var metaContentType = "Article"
  -var metaPageTitle = post.seoTitle
  -var metaPageDesc = post.seoDesc
  -var metaPageImage = post.imgCover
  -var metaCanonical = `${BASE_URL}/blog/${post.category}/${post.slug}`
  -var metaAMPLink = `${BASE_URL}/amp/blog/${post.category}/${post.slug}`

block schemaMarkup
  include schema/blog.pug

block main
  include page/blog.pug
  +blogPostTemplate(false)
