.row
  .col
    .form-group
      label(for="timePrep") Prep (min)
      input.form-control(
        id="timePrep",
        name="timePrep",
        type="number",
        value= data.time.prep,
        placeholder="Prep Time"
      )
    .form-group
      label(for="timeAdditional") Additional (min)
      input.form-control(
        id="timeAdditional",
        name="timeAdditional",
        type="number",
        value= data.time.additional,
        placeholder="Additional Time"
      )
  .col
    .form-group
      label(for="timeCook") Cook (min)
      input.form-control(
        id="timeCook",
        name="timeCook",
        type="number",
        value= data.time.cook,
        placeholder="Cooking Time"
      )
    .form-group
      label(for="serving") Servings
      input(
        id="serving",
        name="serving",
        type="number",
        value=data.serving,
        class="form-control",
        placeholder="Servings"
      )
