mixin singleIngredientTemplate(index = 0)
  -var rowOrder = ''
  -var rowQuantity = 1
  -var rowQuantityExtra = 0
  -var rowUnit = ''
  -var rowIngredient = ''
  -var rowNote = ''

  -if (data.ingredients && data.ingredients[index])
    -var rowOrder = Number(data.ingredients[index].order)
    -var rowQuantity = Number(data.ingredients[index].quantity)
    -var rowQuantityExtra = Number(data.ingredients[index].quantityExtra)
    -var rowUnit = data.ingredients[index].unit
    -var rowIngredient = data.ingredients[index].ingredient
    -var rowNote = data.ingredients[index].note

  .row.ingredient(id= `ingredient${index}`)
    input.form-control(
      name="order",
      type="hidden",
      placeholder="Order",
      value= rowOrder
    )
    .col-md-1
      .form-group
        label Quantity
        input.form-control(
          name="quantity",
          type="number",
          placeholder="Quantity",
          value= rowQuantity
        )
    .col-md-1
      .form-group
        label Extra
        input.form-control(
          id="quantityExtra",
          name="quantityExtra",
          type="text",
          placeholder="Quantity Extra",
          value= rowQuantityExtra
        )
    .col-md-1
    .col-md-2
      .form-group
        label Unit
        input.form-control(
          id="unit",
          name="unit",
          type="text",
          placeholder="Unit",
          value= rowUnit
        )
    .col-md-3
      .form-group
        label Ingredient
        input.form-control(
          id="ingredient",
          name="ingredient",
          type="text",
          placeholder="Ingredient",
          value= rowIngredient
        )
    .col-md-2
      .form-group
        label Note
        input.form-control(
          id="note",
          name="note",
          type="text",
          placeholder="Note",
          value= rowNote
        )
    .col-md-2.text-right
      br
      .btn-group.mt-2
        button.btn-action.btn.btn-outline-secondary(
          type="button",
          data-type="ingredient",
          data-action="remove",
          data-index= index
        )
          i.fa.fa-minus-circle.text-danger
        button.btn-action.btn.btn-outline-secondary(
          type="button",
          data-type="ingredient",
          data-action="up",
          data-index= index
        )
          i.fa.fa-arrow-up
        button.btn-action.btn.btn-outline-secondary(
          type="button",
          data-type="ingredient"
          data-action="down",
          data-index= index
        )
          i.fa.fa-arrow-down
