script(type="text/javascript").
  function createIngredientRowTemplate(rIndex) {
    var rowTemplate = `<div id="ingredient${rIndex}" class="row ingredient">`;
    var rowOrder = `<input class="form-control" type="hidden" value="${rIndex}" name="ingredients[${rIndex}][order]" />`;
    var rowQty = `
      <div class="col-md-1">
        <div class="form-group">
          <label>Quantity</label>
          <input class="form-control" type="number" value="1" name="ingredients[${rIndex}][quantity]" />
        </div>
      </div>`;
    var rowQtyExtra = `
      <div class="col-md-1">
        <div class="form-group">
          <label>Extra</label>
          <input class="form-control" type="text" name="ingredients[${rIndex}][quantityExtra]" />
        </div>
      </div>`;
    var rowSpace = '<div class="col-md-1"></div>';
    var rowUnit = `
      <div class="col-md-2">
        <div class="form-group">
          <label>Unit</label>
          <input class="form-control" type="text" name="ingredients[${rIndex}][unit]" />
        </div>
      </div>`;
    var rowIngredient = `
      <div class="col-md-3">
        <div class="form-group">
          <label>Ingredient</label>
          <input class="form-control" type="text" name="ingredients[${rIndex}][ingredient]" />
        </div>
      </div>`;
    var rowNote = `
      <div class="col-md-2">
        <div class="form-group">
          <label>Note</label>
          <input class="form-control" type="text" name="ingredients[${rIndex}][note]" />
        </div>
      </div>`;
    var rowAction = `
      <div class="col-md-2 text-right">
        <br>
        <div class="btn-group mt-2">
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="ingredient" data-action="remove">
            <i class="fa fa-minus-circle text-danger"></i>
          </button>
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="ingredient" data-action="up">
            <i class="fa fa-arrow-up"></i>
          </button>
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="ingredient" data-action="down">
            <i class="fa fa-arrow-down"></i>
          </button>
        </div>
      </div>`;

    rowTemplate += rowOrder;
    rowTemplate += rowQty;
    rowTemplate += rowQtyExtra;
    rowTemplate += rowSpace;
    rowTemplate += rowUnit;
    rowTemplate += rowIngredient;
    rowTemplate += rowNote;
    rowTemplate += rowAction;
    rowTemplate += '</div>';

    return rowTemplate;
  };

  function createDirectionRowTemplate(rIndex) {
    var rowTemplate = `<div id="direction${rIndex}" class="row direction">`;
    var rowOrder = `
      <div class="col-md-1">
        <div class="form-group">
          <label>Order</label>
          <input class="form-control" type="text" value="${rIndex}" name="directions[${rIndex}][order]" />
        </div>
      </div>`;
    var rowDescription = `
      <div class="col-md-9">
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" name="directions[${rIndex}][desc]" rows="2" placeholder="Description"></textarea>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label>Image</label>
            <input class="form-control" type="text" name="directions[${rIndex}][img]" placeholder="Image" />
          </div>
          <div class="form-group col-md-6">
            <label>Image WebP</label>
            <input class="form-control" type="text" name="directions[${rIndex}][imgWebP]" placeholder="Image WebP" />
          </div>
        </div>
      </div>`;
    var rowAction = `
      <div class="col-md-2 text-right">
        <br>
        <div class="btn-group mt-2">
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="direction" data-action="remove">
            <i class="fa fa-minus-circle text-danger"></i>
          </button>
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="direction" data-action="up">
            <i class="fa fa-arrow-up"></i>
          </button>
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="direction" data-action="down">
            <i class="fa fa-arrow-down"></i>
          </button>
        </div>
      </div>`;

    rowTemplate += rowOrder;
    rowTemplate += rowDescription;
    rowTemplate += rowAction;
    rowTemplate += '</div>';

    return rowTemplate;
  };

  function createNutritionRowTemplate(rIndex) {
    var rowTemplate = `<div id="nutrition${rIndex}" class="row nutrition">`;
    var rowOrder = `
      <div class="col-md-1">
        <div class="form-group">
          <label>Order</label>
          <input class="form-control" type="text" value="${rIndex}" name="nutritions[${rIndex}][order]" />
        </div>
      </div>`;
    var rowName = `
      <div class="col-md-2">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" name="nutritions[${rIndex}][name]" />
        </div>
      </div>`;
    var rowValue = `
      <div class="col-md-2">
        <div class="form-group">
          <label>Value</label>
          <input class="form-control" type="text" name="nutritions[${rIndex}][value]" />
        </div>
      </div>`;
    var rowAction = `
      <div class="col-md-2">
        <br>
        <div class="btn-group mt-2">
          <button class="btn-action btn btn-outline-secondary" type="button" data-index="${rIndex}" data-type="nutrition" data-action="remove">
            <i class="fa fa-minus-circle text-danger"></i>
          </button>
        </div>
      </div>`;

    rowTemplate += rowOrder;
    rowTemplate += rowName;
    rowTemplate += rowValue;
    rowTemplate += rowAction;
    rowTemplate += '</div>';

    return rowTemplate;
  };

  function listenBtnAddNew() {
    $('body').on('click', '.btn-add-new', function() {
      var type = $(this).data('type');
      var counting = $(this).data('counting');

      if (type === 'ingredient') {
        var newRowTemplate = createIngredientRowTemplate(counting);
        $('#listIngredient').append(newRowTemplate);
      }
      if (type === 'direction') {
        var newRowTemplate = createDirectionRowTemplate(counting + 1);
        $('#listDirection').append(newRowTemplate);
      }
      if (type === 'nutrition') {
        var newRowTemplate = createNutritionRowTemplate(counting);
        $('#listNutrition').append(newRowTemplate);
      }

      $(this).data('counting', counting + 1);
    });
  };

  function listenBtnAction() {
    $('body').on('click', '.btn-action', function() {
      var type = $(this).data('type');
      var action = $(this).data('action');
      var index = $(this).data('index');
      var rowId = `${type}${index}`;

      if (action === 'remove') {
        $(`#${rowId}`).remove();
      }
      //- if (action === 'up') {
      //-   console.log('up this row');
      //- }
      //- if (action === 'down') {
      //-   console.log('down this row');
      //- }
    });
  };

  $(document).ready(function() {
    renderCategoryDropdown();
    renderCuisineDropdown();
    listenBtnAddNew();
    listenBtnAction();
  });
