extends ../_default/base.pug

block content
  .container
    h3= title
    input(id="entity", type="hidden", value= entity)

    form#contentForm(
      method="POST",
      class="form-update",
      action=`${entity}/${data.id ? 'update' : 'create'}`
    )
      //- Basic & SEO content
      .row
        .col-md-6
          .form-row
            .form-group.col-md-6
              label(for="id") ID
              input.form-control(
                id="id",
                name="id",
                type="text",
                value= data.id,
                readonly
              )

          .form-group
            label(for="name") Name
            input.form-control(
              id="name",
              name="name",
              type="text",
              value= data.name,
              placeholder="Name"
            )

          .form-group
            label(for="slug") Slug
            input.form-control(
              id="slug",
              name="slug",
              type="text",
              value= data.slug,
              placeholder="Slug"
            )
            input.form-control(
              name="prevSlug",
              type="hidden",
              value= data.slug,
              placeholder="prevSlug"
            )

          //- Rating
          .row
            each ratingValue, index in (data.ratings || [0, 0, 0, 0, 0])
              .col
                .form-group
                  label #{index+1} star
                  input.form-control(
                    name= `ratings[${index}]`,
                    type="number",
                    readOnly,
                    value= ratingValue
                  )

        .col-md-6
          .row
            .col-md-6
              .form-group
                label(for="imgCover") Cover Image
                input.form-control(
                  id="imgCover",
                  name="imgCover",
                  type="text",
                  value= data.imgCover,
                  placeholder="Cover Image"
                )
            .col-md-6
              .form-group
                label(for="imgCoverWebP") Cover Image WebP
                input.form-control(
                  id="imgCoverWebP",
                  name="imgCoverWebP",
                  type="text",
                  value= data.imgCover,
                  placeholder="Cover Image WebP"
                )
          .form-group
            .row
              .col-md-6
                label(for="imgThumb") Thumbnail Image
                input.form-control(
                  id="imgThumb",
                  name="imgThumb",
                  type="text",
                  value= data.imgThumb,
                  placeholder="Thumbnail Image"
                )
              .col-md-6
                label(for="imgThumbWebP") Thumbnail Image WebP
                input.form-control(
                  id="imgThumbWebP",
                  name="imgThumbWebP",
                  type="text",
                  value= data.imgThumbWebP,
                  placeholder="Thumbnail Image WebP"
                )

          .form-group
            label(for="seoTitle") SEO Title
            input.form-control(
              id="seoTitle",
              name="seoTitle",
              type="text",
              value=data.seoTitle,
              placeholder="SEO Title"
            )

          .form-group
            label(for="seoDesc") SEO Description
            textarea.form-control(
              id="seoDesc",
              name="seoDesc",
              rows="2"
              placeholder="SEO Description"
            ) #{data.seoDesc}

      //- Summary
      .row
        .col-md-8
          .form-group
            label(for="description") Short Description
            textarea(
              id="description",
              name="description",
              rows="4"
              class="form-control",
              placeholder="Short Description"
            ) #{data.description}
        .col-md-4
          include _cooking-time.pug

      //- Ingredients
      include _ingredients.pug

      //- Directions / Prep-step
      include _directions.pug

      .row.mt-2.mb-5
        .col-12.d-flex.justify-content-between
          a(href=`${entity}/`, class="btn btn-outline-secondary")
            i.fa.fa-reply.fa-lg.mr-2
            | Cancel

          if data.id
            button(
              type="button",
              class="btn btn-danger btn-delete",
              data-toggle="modal",
              data-target="#deleteConfirmModal",
              data-url= `${entity}/delete/${data.id}`,
              data-name= data.name
            )
              i.fa.fa-trash-o.fa-lg.mr-2
              | Delete

          button(type="submit", class="btn btn-success")
            i.fa.fa-floppy-o.fa-lg.mr-2
            | Submit

block scripts
  include _js.pug
  include ../_default/_js-seo.pug
