nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a(
      class="navbar-brand",
      href=""
    ) Dashboard
    button(
      class="navbar-toggler",
      type="button",
      data-toggle="collapse",
      data-target="#navbarNav",
      aria-controls="navbarNav",
      aria-expanded="false",
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.d-flex.flex-column.justify-content-center.dropdown
          a(class="nav-link", href="/")
            i.fa.fa-home.fa-lg
        li.nav-item
          a(class="nav-link", href="recipe")
            i.fa.fa-cutlery.mr-2
            | Recipe
        li.nav-item
          a(class="nav-link", href="blog")
            i.fa.fa-book.mr-2
            | Blog
        li.nav-item
          a(class="nav-link", href="sitemap")
            i.fa.fa-sitemap.mr-2
            | Sitemap

      li.nav-item.dropdown.navbar-nav
        a.nav-link.dropdown-toggle(
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        )
          i.fa.fa-folder-open.mr-1.ml-2
          | Admin
        div.dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
          a(class="dropdown-item", href="country")
            i.fa.fa-flag.mr-1
            | Country
          button#btnRefresh(class="dropdown-item", type="button")
            i.fa.fa-refresh.mr-1
            | Refresh

      ul.navbar-nav
        li.nav-item
          a(class="nav-link", href="#")
            i.fa.fa-refresh.mr-1
            | Update

//- This JS only for admin for site settings
script(type="text/javascript").
  $(document).ready(function() {
  });
