mixin homeTemplate(isAmp=false)
  .container.pb40
    .card.card-border.content
      .text-center
        h1.heading.heading-page Newest Recipes
        p Lorem ipsum dolor sit amet consectetur adipiscing eli sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet consectetur adipiscing eli sed do eiusmod tempor incididunt ut labore et dolore.

      each recipe in recipes
        a.list-recipe(href= `recipe/${recipe.slug}`, title= recipe.name)
          img.img-recipe-thumb.img.img-radius(src= recipe.imgThumb, alt= recipe.name)
          .list-recipe-summary
            div
              h3.heading.heading-section= recipe.name
              p.list-recipe-desc= recipe.description
            .list-recipe-time
              span
                svg(fill="currentColor", width="20", height="20")
                  use(xlink:href="#icon-cooking")
                span.ml5 Time: #{recipe.time}
              span.ml20
                svg(fill="currentColor", width="20", height="20")
                  use(xlink:href="#icon-serving")
                span.ml5 Servings: #{recipe.serving}
