mixin recipeTemplate(isAmp=false)
  .container.pb40
    .card.card-border.recipe-wrapper
      img.img.img-recipe.img-recipe-cover(src= recipe.imgCover, alt= recipe.name)
      .content
        .flex
          h1.heading.heading-page= recipe.name
          +ratingTemplate(recipe.ratings)
        .flex.flex-between.recipe-section(data-target="information")
          .flex
            h2.heading.heading-section Dish Information
            svg.ml10(fill="currentColor", width="50", height="40")
              use(xlink:href="#icon-dish-info")
          svg.recipe-section-icon(fill="currentColor", width="40", height="40")
            use(xlink:href="#icon-arrow")
        #information.recipe-section-content
          p= recipe.description

        //- Ingredients
        .flex.flex-between.recipe-section(data-target="ingredient")
          .flex
            h2.heading.heading-section Ingredients
            svg.ml10(fill="currentColor", width="40", height="40")
              use(xlink:href="#icon-ingredient")
          svg.recipe-section-icon(fill="currentColor", width="40", height="40")
            use(xlink:href="#icon-arrow")
        #ingredient.recipe-section-content
          each ingredient, idx in (recipe.ingredients || [])
            .recipe-item
              .recipe-checkbox
              p.recipe-label.flex
                span.qty= ingredient.quantity
                span.unit= ingredient.unit
                span.ingredient= ingredient.ingredient
                span= ingredient.note

        //- Directions
        .flex.flex-between.recipe-section(data-target="direction")
          .flex
            h2.heading.heading-section Directions
            svg.ml10(fill="currentColor", width="40", height="40")
              use(xlink:href="#icon-cooking")
          svg.recipe-section-icon(fill="currentColor", width="40", height="40")
            use(xlink:href="#icon-arrow")
        #direction.recipe-section-content
          each direction, idx in (recipe.directions || [])
            .recipe-item
              .recipe-checkbox.flex.flex-center
                span= idx+1
              p.recipe-label= direction.desc
