mixin subNavContainer(sub)
  .container.flex
    each menuSub in sub
      .nav-sub-group
        h3.heading.heading-section= menuSub.title
        ul.mt10
          each subItem in menuSub.items
            li
              a(
                href= subItem.url,
                title= subItem.name
              )= subItem.name

mixin navTemplate(isAmp=false)
  nav
    ul#mainMenu.nav.hidden-mobile(
      [class]="menuVisible ? 'nav' : 'nav hidden-mobile'"
    )
      each menu in SITE_MENUS
        -if (isAmp)
          li.nav-item
            a.nav-link(
              href='#',
              title= menu.slug,
              on=`tap:AMP.setState({ menuActive: '${menu.slug}' })`
            )
              | #{menu.name}
            -if (menu.sub && menu.sub.length)
              .nav-sub.hidden(
                class= menu.slug,
                [class]=`menuActive == '${menu.slug}' ? 'nav-sub' : 'nav-sub hidden'`
              )
                +subNavContainer(menu.sub)
        -else
          li.nav-item
            a(class="nav-link", href='#', title= menu.name)
              | #{menu.name}
            -if (menu.sub && menu.sub.length)
              .nav-sub.hidden
                +subNavContainer(menu.sub)

  -if (isAmp)
    button#btnMenu.nav-icon.hidden-tablet(
      on="tap:AMP.setState({ menuVisible: !menuVisible})"
    )
      svg(
        class="icon",
        fill="currentColor",
        data-name="menu",
      )
        use(xlink:href="#icon-menu")
  -else
    button#btnMenu.nav-icon.hidden-tablet
      svg(
        class="icon",
        fill="currentColor",
        data-name="menu",
      )
        use(xlink:href="#icon-menu")
